#cart-modal-content {
  position: absolute;
  height: 90vh;
  width: 95vw;
  top: 5vh;
  left: 2.5vw;
  gap: 50px;
  border: 1px solid gray;
  z-index: 999;
  background-color: aliceblue;
}
.product {
  margin: 5px;
  max-width: 215px;
  border: 1px solid gray;
  padding: 5px;
  height: fit-content;
}
.product-img {
  width: 200px;
}
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
}
