.product-tile-holder {
  width: 100%;
  display: grid;
  overflow-y: scroll;
  place-items: center;
  grid-template-columns: repeat(6, 1fr);
  height: calc(100vh - 180px);
}
.indiv-tile-holder {
  margin: 10px;
  max-width: 215px;
  border: 1px solid gray;
  padding: 5px;
}
.product-img {
  width: 200px;
}
