#product-modal {
  position: absolute;
  top: 25%;
  left: 15px;
  width: calc(100% - 30px);
  gap: 50px;
  border: 1px solid gray;
  z-index: 999;
  background-color: aliceblue;
}
.model-img {
  margin: 10px;
  width: 200px;
}
.img-box {
  display: grid;
  width: 400px;
  grid-template-columns: repeat(2, 1fr);
}
.size {
  margin: 10px;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 800;
}
.btn {
  position: absolute;
  bottom: 10px;
}
